body {
    background-color:aliceblue;
    padding: 0%;
    margin: 0%
}
.header {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -12%);

}
.centerdiv{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    padding: 63px 39px 47px 39px;

}
input{
    height: 34px;
    width: 198px;
    margin: 10px;


}
.button{
    position: relative;
    left: 50%;
    transform: translate(-50%,50%);
}
